---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Agosto 2022 - actualidad · 1 año 5 meses",
    title: "Desarollador web fullstack y extensiónes - Nucleux",
    description:
      "Desarrollo todo tipo de aplicaciones webs y extenciones para Chrome, con el fin de gestionar e inpulsar marcas, enprendimientos o movimientos,aplico mis conocimientos para crear herramientas capaces de optimizar porcesos.",
  },
  {
    date: "Junio 2022 - Octubre 2023 · 1 año 5 meses",
    title: "Desarollador Fullstack - CargoUp",
    description:
      "Encargado del desarrollo principalmente del backend,aunque mi puesto era del lado del servidor periodicamente ayudaba con tareas del lado del cliente.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
